<article class="post">
  <header class="post__header">
    <img
      class="post__header__avatar"
      src="http://i.pravatar.cc/50"
      alt="Avatar"
    />
    <strong class="post__header__username">
      {{@post.attributes.author}}
    </strong>
  </header>

  <div>
    <img
      class="post__image"
      src={{@post.attributes.image}}
      alt=""
    />
  </div>

  <div class="post__content">
    <section class="post__content__actions">
      {{#if liked}}
        <span
          role="button"
          onclick={{action "dislike"}}
        >
          <Icons as |Icon|>
            <Icon.FullHeart />
          </Icons>
        </span>
      {{else}}
        <span
          role="button"
          onclick={{action "like"}}
        >
          <Icons as |Icon|>
            <Icon.EmptyHeart />
          </Icons>
        </span>
      {{/if}}
    </section>

    <section class="post__likes">
      <strong>
        {{likesCount}} Likes
      </strong>
    </section>

    <section class="post__comments">
      {{#each @post.attributes.comments as |comment|}}
        <strong>
          {{comment.user}}
        </strong>

        {{comment.content}}
      {{/each}}
    </section>
  </div>
</article>
